.Deckbuilder {
  width: 100vw;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  margin: auto;
  /* background-color: #380202; */
}

.Deckbuilder-deck {
  background-color: #eee;
  box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.5) inset;

}
.Deckbuilder-sideboard {
  background-color: #ccc;
  border-radius: 20px;
  margin: 20px;
}

.Deckbuilder-section {
  padding: 10px;
  font-size: 16px;
}

.Deckbuilder-large {
  font-size: 24px;
  color: #444
}
