/* .Card-container > img {
  z-index: 1;
} */

.column-mode .Card-container {
  margin-top: -190px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}


.Card-hoverbox:hover {
  /* background-color: rgba(255,0,0,0.5); */
}

.column-mode .Card {
  position: relative;
}

.column-mode .Card-hoverbox {
  z-index: 10;
  width: 150px;
  height: 200px;
  position: absolute;
  /* margin-top: -209px; */
}

/* .Card-container {
  z-index: 10;
} */
